# MongoDB
MONGO_URI=mongodb+srv://johnlijo:john123@shop.hu3ifjm.mongodb.net/streetwear-store?retryWrites=true&w=majority&appName=Shop
# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Client
CLIENT_URL=http://localhost:5173

# Server
PORT=5001
NODE_ENV=development
